body{
    font-family: Arial, Helvetica, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    padding-left: 100px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h3{
    font-size: 60px;
    text-align: center;
    margin-top:  100px;
    color: #1c1c1c;
}

nav {
    display: flex;
    padding-right: 100px;
}

nav a {
    margin-left: 20px; 
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav a:hover {
    color: #e6d985;
}
  

.banner { 
    position: relative; 
    width: 100%; 
    height: 700px; 
    background-image: url("../img/Slide\ 16_9\ -\ 1.jpg"); 
    background-size: cover; 
    background-position: center; 
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
}
.banner-text h2 {
    font-size: 60px;
    margin-bottom: 20px;
}
.button-prices  {
    padding: 15px 20px;
    margin: 5px;
    border: none;
    background-color: #EFE8DA;
    color: #1c1c1c;
    cursor: pointer;
    font-size: 16px;
}

.button-book{
    border: solid 3px;
    border-color: #EFE8DA;
    padding: 15px 20px;
    margin: 5px;    
    background-color: #2D2E30;
    color: white;
    cursor: pointer;
    font-size: 16px;
}


.container {
    margin: 40px 100px 100px 100px;

   
    display: flex;
    border: 2px solid #ccc; /* Рамка вокруг контейнера */
    border-radius: 10px; /* Закругленные углы */
    overflow: hidden; /* Обрезаем содержимое по рамке */
    background-color: #ffffff; /* Фон контейнера */
}



.column {
    flex: 1; /* Каждая колонка занимает равное пространство */
    padding: 20px; /* Отступы внутри колонок */
    text-align: center; /* Центрируем текст */
    border-right: 2px solid #ccc; /* Вертикальная граница между колонками */


    display: inline-block;
            overflow: hidden; /* Скрыть часть изображения, если оно выходит за пределы контейнера */
}

.column:last-child {
    border-right: none; /* Убираем правую границу у последней колонки */
}

img {
    max-width: 100%; /* Ограничиваем ширину изображений */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin-top: 20px;
    margin-bottom: 20px; /* Отступ снизу изображения */


    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный переход */
}


.column:hover img {
    transform: scale(1.1); /* Увеличение на 10% */
    
}

.price {
    font-weight: bold; /* Жирный текст для цены */
}


 .about{
    display: flex;
    justify-content: center;
    position: relative; 
    width: 100%; 
    height: 550px; 
    background-size: cover; 
    background-position: center; 
    background-image: url("../img/5.jpg");
    margin-bottom: 100px;
 }
 .about-text{

    width: 700px; /* Ширина текста */
    font-size: 16px; /* Размер шрифта */
    text-align: center;
    
 }

 h5{
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 30px;
    color: #ffffff;
 }

 .about_us{
    color: #ffffff;
 }

 .choos_us {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
    
    background-color: #EFE8DA;
}
.image {
    margin-right: 20px; /* Отступ между картинкой и текстом */
    margin-top: 30px;
    margin-left: 250px;
}

.choos{
margin-top: -80px;
    width: 500px; /* Ширина текста */
            font-size: 16px; /* Размер шрифта */
            text-align: left; /* Выравнивание текста по левому краю */
            position: relative;
            left: 10%; /* Сдвигаем контейнер на 50% вправо */
 }
 h4{    
    margin-bottom: 10px;
    font-size: 60px;
}

.button-book2{ 
    border: solid 3px;
    border-color: #2D2E30;   
    padding: 15px 20px;
       margin-top: 20px;
    background-color: #2D2E30;
    color: white;
    cursor: pointer;
    font-size: 16px;
}




h6{
    font-size: 60px;
    text-align: center;
    margin-top:  100px;
    margin-bottom: 50px;
    color: #1c1c1c;
}

.masters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.master {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    padding: 20px;
    width: 250px;
}
.master img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 10px;
}

/*-------------портфолио------*/

.portfolio{
    background-image: url("../img/bg2.png");
    background-size: cover;
    margin: 0px;
    padding: 20px; /* Отступы вокруг формы */
    border-radius: 12px; /* Закругленные углы */
    
}

.portfolio h2{
    font-size: 60px;
    text-align: center;
    margin-top:  40px;
    margin-bottom: 40px;
    color: #1c1c1c;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    
}
.gallery img {
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте */
    z-index: 1000; /* Поверх всего */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включает прокрутку, если необходимо */
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
}

.modal-content {
    position: absolute; /* Абсолютное позиционирование */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем на половину ширины и высоты */
    max-width: 80%; /* Максимальная ширина изображения */
    max-height: 80%; /* Максимальная высота изображения */
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/*--стрелка--*/

#show-more {
    width: 50px;
    height: 50px;
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Убираем границу */
    cursor: pointer; /* Курсор в виде указателя */
    position: relative;
    margin: 20px auto; /* Центрируем по горизонтали */
}

.arrow-down::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid black; /* Цвет стрелки */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 0.3s ease; /* Плавный переход при вращении */
}

.arrow-up::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid black; /* Цвет стрелки */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}





/*--------форма записи---------*/

.background-container{
    background-image:url("../img/banner3.jpg") ; /* Замените на нужный вам цвет */
    background-size: cover;
    padding: 50px; /* Отступы вокруг формы */
    border-radius: 12px; /* Закругленные углы */
    margin-top: 100px;
}


.form-container { 
    
    margin: auto;
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 12px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 400px; 
   

   
    
    
} 
.form-container h2 { 
    margin-bottom: 20px; 
    text-align: center;
    margin-bottom: 30px;
} 
.form-group { 
    margin-bottom: 10px; 
    color: #adadad;
    

} 
.form-group label { 
    display: block; 
    margin-bottom: 5px; 
    font-size: 14px;
} 
.form-group input, .form-group select { 
    width: 100%; 
    height: 40px;
    margin-bottom: 10px;
    padding: 8px; 
    box-sizing: border-box; 
    font-size: 16px;
} 
.form-group button { 
    width: 200px; 
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border: solid 3px;
    border-color: #2D2E30;
    padding: 15px 20px;
       
    background-color: #2D2E30;
    color: white;
    cursor: pointer;
    font-size: 16px;
} 

.error-message { 
    color: red; 
    display: none; 
} 


/*--------контакты-----------*/
.contact {
    
    padding: 20px;
    text-align: center;
    
}
footer {
    background-color: #2D2E30;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}








/*--------модальное окно услуги-----------*/

.modal2 {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7); /* затемнение фона */
}

.modal-content2 {
    background-color: #fff; 
    margin: auto; 
    padding: 30px; 
    border: 1px solid #888; 
    width: 50%; /* ширина модального окна */
}

.close2 {
    color: #aaa; 
    float: right; 
    font-size: 28px; 
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black; 
    text-decoration: none; 
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

hr {
    border: 1px solid #ccc;
}




.notification { 
    display: none; 
    justify-content: center; /* Центрировать по горизонтали */
    align-items: center; /* Центрировать по вертикали */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); /* Прозрачный белый цвет */
    color: rgb(0, 0, 0); 
    padding: 20px; 
    position: fixed;  
    top: 50%; /* Центрировать по вертикали */
    left: 50%; /* Центрировать по горизонтали */
    transform: translate(-50%, -50%); /* Сдвинуть на половину ширины и высоты */
    width: 300px; /* Ширина 200px */
    height: 100px; /* Высота 50px */
    z-index: 1; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавить тень для эффекта */
    
}
